.tabs .tab,
.tabs .activetab {
  cursor: pointer;
  padding: 10px;
  display: inline-block;
  font-weight: 700;
  border: 0;
  background: inherit;
}

.tabbar {
  background-color: lightgrey;
}

.tabs .activetab {
  background-color: rgba(182, 234, 255);
}
