body {
  font-family: "Arial", sans-serif;
  background: white;
  color: black;
  line-height: 125%;
  z-index: 0;
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
  padding: .5em .5em 6rem .5em;
  position: relative;
}

body:not(.signed-on) .when-signed-on {
  display: none !important;
}

body:not(.page-about-you) .only-yours {
  display: none !important;
}

body.page-about-you .only-not-yours {
  display: none !important;
}

body:not(.editing) .editing,
body:not(.page-about-you) .editing,
body.editing.page-about-you .notediting {
  display: none !important;
}

.loadingspinner { display: none; }

.loading .loadingspinner { display: block; }

/* from https://codepen.io/flesler/pen/AEIFc */
[contenteditable]:empty:before {
  content: attr(placeholder);
  color: #aaa;
  font-style: italic;
  display: inline-block;
}

[contenteditable] {
  white-space: pre-line; /* to use \n instead of <br> as newlines */
  min-width: 1em;
}

[contenteditable]:hover:not(.validationerror) {
  box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
}

[contenteditable]:focus.validationerror {
  outline: initial;
}

body > footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 85%;
  line-height: 120%;
  height: 5rem;
  background-color: #ddf;
  box-sizing: border-box;
  padding: 1em;
}

body > footer > p {
  margin: 0;
  padding: 0;
}

.limaversion .value {
  font-family: monospace;
}

.zindexed:hover {
  z-index: 10;
}

.zindexed.pinned {
  z-index: 11;
}

.popupbox {
  position: relative;
  border: 1px solid black;
  border-radius: .5em;
  padding: .3em .5em .1em .5em;
  background-color: white;
  box-shadow: 0 0 .3em .3em rgba(128,0,255,.2);
}

.popupbox.pinned {
  box-shadow: 0 0 .3em .3em rgba(0,0,0,.3);
}

.popupbox .pin {
  display: block;
  font-size: 150%;
  font-weight: bold;
  color: #888;
  position: absolute;
  top: 0;
  right: 0;
  margin: .1em;
  padding: 0;
  text-align: center;
  min-width: 1em;
  line-height: 100%;
  border-radius: .2em;
}

.popupbox .pin:after {
  content: '▿';
  display: block;
  height: 100%;
  width: 100%;
}

.popupbox.pinned .pin:after {
  content: '×';
}

.popupbox .pin:hover {
  background: #888;
  color: white;
}



/* userinfo
 *
 *
 *     #    #  ####  ###### #####  # #    # ######  ####
 *     #    # #      #      #    # # ##   # #      #    #
 *     #    #  ####  #####  #    # # # #  # #####  #    #
 *     #    #      # #      #####  # #  # # #      #    #
 *     #    # #    # #      #   #  # #   ## #      #    #
 *      ####   ####  ###### #    # # #    # #       ####
 *
 *
 */

.userinfo {
  position: absolute;
  top: 1em;
  right: 1em;
  transition: border 1s;
  min-width: 50px;
  min-height: 50px;
  z-index: 100;
  background-color: white;
}

.userinfo .userphoto {
  max-height: 48px;
  max-width: 48px;
  border-radius: 12px;
  padding: 2px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid rgba(0,0,0,0);
  border-bottom: 0px;
  transition: 0 .2s;
}

.userinfo .actions {
  margin-top: 53px;
  display: none;
  opacity: 0;
  transition: 0 .2s;
  padding: 0 .5em;
  border: 1px solid rgba(0,0,0,.5);
}

.userinfo .actions > * {
  margin: .5em 0;
  transition: .2s;
  display: block;
  width: 100%;
  box-shadow: 0 0 0 0 rgba(66,133,244,.3);
  text-align: center;
}

.userinfo .actions > a,
.userinfo .username {
  text-decoration: none;
  color: black;
  line-height: 200%;
}

.userinfo .actions > a {
  cursor: pointer;
}

.userinfo .actions > a:hover {
  box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
}

.userinfo:hover .actions {
  display: block;
  opacity: 1;
}

.userinfo:hover .userphoto {
  border: 1px solid rgba(0,0,0,.5);
  border-bottom: 0px;
}




/* sections
 *
 *
 *          ####  ######  ####  ##### #  ####  #    #  ####
 *         #      #      #    #   #   # #    # ##   # #
 *          ####  #####  #        #   # #    # # #  #  ####
 *              # #      #        #   # #    # #  # #      #
 *         #    # #      #    #   #   # #    # #   ## #    #
 *          ####  ######  ####    #   #  ####  #    #  ####
 *
 *
 */
section {
  display: block;
  margin-left: 20em;
}



/* personalinfo
 *
 *
 *   #####  ###### #####   ####   ####  #    #   ##   #      # #    # ######  ####
 *   #    # #      #    # #      #    # ##   #  #  #  #      # ##   # #      #    #
 *   #    # #####  #    #  ####  #    # # #  # #    # #      # # #  # #####  #    #
 *   #####  #      #####       # #    # #  # # ###### #      # #  # # #      #    #
 *   #      #      #   #  #    # #    # #   ## #    # #      # #   ## #      #    #
 *   #      ###### #    #  ####   ####  #    # #    # ###### # #    # #       ####
 *
 *
 */

section#personalinfo {
  position: absolute;
  top: 5em;
  left: 1em;
  margin-left: 0;
  width: 18em;
  text-align: center;
}

#personalinfo .photo {
  border-radius: .5em;
  border: 1px solid white;
  box-shadow: 0 0 3px 3px rgba(0,0,0,.3);
}

#personalinfo.loading .email,
#personalinfo.loading .joined {
  display: none;
}




/* lists
 *
 *
 *         #      #  ####  #####  ####
 *         #      # #        #   #
 *         #      #  ####    #    ####
 *         #      #      #   #        #
 *         #      # #    #   #   #    #
 *         ###### #  ####    #    ####
 *
 *
 */
section.list {
  display: block;
  border: 1px solid black;
  margin-bottom: 1em;
  position: relative;
  width: 30em;
  z-index: 0;
}

section.list header {
  display: block;
  margin: 0;
  padding: 0 0 0 .5em;
  border-bottom: 1px solid black;
  height: 2em;
  background: #eee;
}

section.list header h2 {
  font-size: 1.5em;
  line-height: 130%;
  margin: 0;
}

section.list header .filter {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: .2em;
  border: 1px solid black;
  margin: .1em;
  background: white;
  text-align: right;
  z-index: 1;
}

section.list header .filter .options {
  display: none;
  text-align: left;
  margin: .5em;
  padding: 0;
}

section.list header .filter .options + .options {
  border-top: 1px solid #eee;
}


section.list header .filter:hover .options {
  display: block;
}

section.list header .filter .options li {
  display: block;
  padding: 0;
  margin: .5em 0;
}

section.list footer {
  display: block;
  margin: 0;
  padding: 0 0 0 .5em;
  border-top: 1px solid black;
  height: 2em;
  background: #eee;
}

section.list footer .add {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0;
  border: 1px solid black;
  background: white;
  text-align: center;
  width: 1em;
  font-size: 1.65em;
  line-height: 100%;
  margin: .0606em;
  cursor: default;
}

section.list > ul {
  margin: 0;
  padding: .25em;
  display: block;
}

section.list > ul > li {
  margin: 0;
  padding: .25em;
  display: block;
  border-bottom: 1px solid #eee;
  position: relative;
}

section.list > ul > li:hover:not(.empty):not(.loading) {
  background: #ddf;
}

section.list > ul > li.empty {
  font-style: italic;
}

section.list > ul > li:last-of-type {
  border-bottom: 0;
}

section.list > ul > li > .name {
  display: inline-block;
}

section.list > ul > li > .mainlink {
  text-decoration: none;
  color: inherit;
}

section.list > ul > li > .date {
  display: inline-block;
  margin-left: 2em;
  float: right;
}

section.list > ul > li > .description {
  font-size: .8em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

section.list > ul > li > ul.tags {
  display: block;
  margin: 0;
  padding: 0;
}

section.list > ul > li > ul.tags > li {
  font-size: .7em;
  display: inline-block;
  margin: .2em;
  padding: .4em;
  line-height: 100%;
  border: 1px solid #008;
  border-radius: .4em;
  background: #33c;
  color: white;
}


/* papers
 *
 *
 *         #####    ##   #####  ###### #####   ####
 *         #    #  #  #  #    # #      #    # #
 *         #    # #    # #    # #####  #    #  ####
 *         #####  ###### #####  #      #####       #
 *         #      #    # #      #      #   #  #    #
 *         #      #    # #      ###### #    #  ####
 *
 *
 */

#paper .description .value {
  white-space: pre-line;
  display: inline-block;
  vertical-align: top;
  max-width: 30em;
}

#paper > header {
  background: #ddf;
  margin: 0;
  padding: .5em;
  position: relative;
}

#paper > header h1 {
  display: inline-block;
  line-height: 100%;
  margin: 0;
  padding: 0;
}

#paper ul.tags {
  display: inline-block;
  margin: 0 0 0 2em;
  padding: 0;
  vertical-align: bottom;
}

#paper ul.tags > li {
  font-size: .7em;
  display: inline-block;
  margin: .2em;
  padding: 0;
  line-height: 100%;
  border: 1px solid #008;
  border-radius: .4em;
  background: #33c;
  transition: background .5s;
  color: white;
  overflow: hidden;
  vertical-align: bottom;
}

#paper ul.tags > li.flash {
  background: #ff0;
}

#paper ul.tags > li.new {
  background: white;
  color: black;
}

#paper ul.tags > li.new [contenteditable]:focus {
  outline: initial;
  /* todo something in firefox puts the cursor too high */
}

#paper ul.tags > li.new:not(.editing) {
  display: none;
}

#paper ul.tags > li .tag {
  display: inline-block;
  margin: .4em;
}

#paper ul.tags > li .removetag {
  background-color: #226;
  color: white;
  display: inline-block;
  margin: 0;
  padding: .4em;
}

#paper ul.tags > li .removetag:hover {
  background-color: rgba(255,255,255,1);
  color: black;
}

#paper ul.tags > li.addtag {
  background: #3c3;
  transition: background 0s;
  color: white;
}

#paper ul.tags > li.new.editing + li.addtag {
  display: none;
}

#paper ul.tags .addtag:hover {
  background-color: rgba(255,255,255,1);
  color: black;
}

#paper { max-width: 40em; margin-left: 0; }

#paper p { margin: .3em 0; }

#paper > header .savepending,
#paper > header .saving {
  font-style: italic;
  color: #444;
  position: absolute;
  right: 0;
  bottom: 120%;
  display: none;
}

#paper > header .validationerrormessage {
  font-style: italic;
  color: #a00;
  position: absolute;
  right: 0;
  bottom: 120%;
  display: none;
}

#paper > header .savingerror {
  font-weight: bold;
  color: black;
  background: #f66;
  padding: .5em .8em;
  border-radius: .4em;
  position: absolute;
  right: 0;
  bottom: 120%;
  display: none;
}

#paper.saving > header .saving,
#paper.savepending:not(.saving) > header .savepending,
#paper.validationerror > header .validationerrormessage {
  display: block;
}


#paper.savingerror > header .savingerror { display: block; cursor: pointer; }

#paper a.value {
  padding-right: .5em;
}

#paper a.value + .edit {
  display: none;
}

#paper a.value + span.edit {
  padding: 0 1em 0 .5em;
  font-style: italic;
  color: #444;
  cursor: pointer;
}

#paper a.value + button.edit {
  vertical-align: middle;
}

#paper a.value:hover + .edit,
#paper a.value + .edit:hover {
  display: inline-block;
}


/* experiment data
 *
 *
 *  ###### #    # #####  ###### #####  # #    # ###### #    # #####    #####    ##   #####   ##
 *  #       #  #  #    # #      #    # # ##  ## #      ##   #   #      #    #  #  #    #    #  #
 *  #####    ##   #    # #####  #    # # # ## # #####  # #  #   #      #    # #    #   #   #    #
 *  #        ##   #####  #      #####  # #    # #      #  # #   #      #    # ######   #   ######
 *  #       #  #  #      #      #   #  # #    # #      #   ##   #      #    # #    #   #   #    #
 *  ###### #    # #      ###### #    # # #    # ###### #    #   #      #####  #    #   #   #    #
 *
 *
 */

/* rotated headings inspired by https://css-tricks.com/rotated-table-column-headers/ */

#paper table.experiments {
  border-collapse: collapse;
  margin-top: 1em;
  text-align: center;
  margin-right: 10em;
  margin-top: 10em;
}

#paper table.experiments + .no-table {
  display: none;
}

body:not(.page-about-you) #paper table.experiments.editing + .no-table,
body:not(.editing) #paper table.experiments.editing + .no-table {
  display: block;
  padding: .5em;
  border: 1px solid black;
}

#paper table.experiments th {
  font-weight: normal;
  vertical-align: top;
  padding: .3em .5em;
}

#paper table.experiments tr:first-child th {
  padding: 0;
  min-width: 2.5em;
  height: 1em;
  vertical-align: bottom;
  text-align: center;
  position: relative;
  border-right: 1px solid black;
}

#paper table.experiments tr th:first-child {
  border-right: 2px solid black;
  position: relative;
}

#paper table.experiments tr th:first-child .expdescription.short {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 8em;
  max-height: 1em;
}

#paper table.experiments tr .fullrowinfo {
  display: none;
}

#paper table.experiments .fullrowinfo header {
  font-weight: bold;
  margin-bottom: .5em;
}

#paper table.experiments .fullrowinfo .expdescription:not([contenteditable]):empty:before {
  content: 'No detailed description';
  color: #aaa;
  font-style: italic;
  display: inline-block;
}

body:not(.boxpinned) #paper table.experiments tr th:first-child:hover .fullrowinfo,
#paper table.experiments tr th:first-child .fullrowinfo.pinned {
  display: block;
  min-width: 20em;
  max-width: 30em;
  min-height: 5em;
  position: absolute;
  left: 90%;
  top: -.5em;
  text-align: left;
}

/* nth-last-child(2) because there's the heading for adding */
#paper table.experiments tr:first-child th:last-child,
body:not(.page-about-you) #paper table.experiments tr:first-child th:nth-last-child(2),
body:not(.editing) #paper table.experiments tr:first-child th:nth-last-child(2) {
  border-right: none;
}

#paper table.experiments tr:first-child th > div {
  transform: translate(-.5em,.8em) rotate(-45deg);
  transform-origin: top left;
  display: inline-block;
  position: absolute;
  bottom: 1em;
}

body.page-about-you.editing #paper table.experiments tr:first-child th:not(:last-child):after,
body:not(.page-about-you) #paper table.experiments tr:first-child th:not(:nth-last-child(-n+2)):after,
body:not(.editing) #paper table.experiments tr:first-child th:not(:nth-last-child(-n+2)):after {
  border-bottom: 1px solid black;
  display: block;
  content: ' ';
  position: absolute;
  right: 0;
  bottom: 1em;
  width: 12em;
  transform: rotate(135deg);
  transform-origin: bottom right;
}

/* thicker first column divider line */
#paper table.experiments tr:first-child th:first-child:after {
  border-bottom: 2px solid black !important;
}

/* thicker line between characteristics and results columns */
#paper table.experiments tr:first-child th.characteristic + th.result,
#paper table.experiments tr td.characteristic + td.result {
  border-left: 2px solid black;
}
#paper table.experiments tr:first-child th.characteristic + th.result:before {
  border-bottom: 2px solid black;
  display: block;
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 1em;
  width: 12em;
  transform: translate(-.5px,1px) rotate(-45deg);
  transform-origin: bottom left;
}


#paper table.experiments tr:first-child th > div > span {
  width: 12em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  text-align: left;
  font-weight: bold;
  background-color: white;
}

#paper table.experiments tr:first-child th > div > span + .fullcolinfo {
  display: none;
  min-width: 10em;
  max-width: 30em;
  min-height: 5em;
  position: absolute;
  left: 0;
  top: -2em;
  text-align: left;
  transform: rotate(45deg);
  transform-origin: left top;
}

#paper table.experiments .fullcolinfo header {
  font-weight: bold;
  margin-bottom: .5em;
}

#paper table.experiments .fullcolinfo .coltype.result .type-characteristic,
#paper table.experiments .fullcolinfo .coltype.characteristic .type-result {
  display: none;
}

#paper table.experiments .fullcolinfo footer {
  font-size: 80%;
  line-height: 120%;
  margin-top: .5em;
  border-top: 1px solid #888;
  padding-top: .3em;
  margin-bottom: 0;
  padding-bottom: 0;
}

#paper table.experiments .fullcolinfo .value {
  white-space: nowrap;
}

body:not(.boxpinned) #paper table.experiments tr:first-child th > div:hover > span + .fullcolinfo,
#paper table.experiments tr:first-child th > div > span + .fullcolinfo.pinned {
  display: block;
}

body:not(.boxpinned) #paper table.experiments tr:first-child th:hover .zindexed {
  z-index: 10;
}

#paper table.experiments td {
  padding: .3em .5em;
  vertical-align: top;
  border-left: 1px solid black;
  border-right: 1px solid black;
  position: relative;
}

#paper table.experiments td span[contenteditable] {
  min-width: 1em;
  min-height: 1em;
  display: inline-block;
}

#paper table.experiments td.hascomments:after {
  display: block;
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  height: 0;
  width: 0;
  border-top: .5em solid #f50;
  border-left: .5em solid transparent;
  z-index: 1;
}

#paper table.experiments td:hover {
  z-index: 10;
}

body:not(.boxpinned) #paper table.experiments tr:first-child th > div:hover > span,
#paper table.experiments tr:first-child th > div.pinned:hover > span,
body:not(.boxpinned) #paper table.experiments tr:not(:first-child) th:first-child:hover,
#paper table.experiments tr:not(:first-child) th:first-child:hover.pinned,
body:not(.boxpinned) #paper table.experiments td.hascomments:hover,
#paper table.experiments td.hascomments.pinned:hover {
  background: rgba(128,0,255,.2);
}

#paper table.experiments td .comments {
  display: none;
  min-width: 20em;
  max-width: 30em;
  min-height: 5em;
  max-height: 50vh;
  overflow: auto;
  position: absolute;
  /* todo in javascript, when .comments are shown and if they're longer than the screen,
     put them higher so they stand on the bottom of the screen */
  top: 0;
  left: 90%;
  text-align: left;
  z-index: 10;
}

body:not(.boxpinned) #paper table.experiments td.hascomments:hover .comments,
#paper table.experiments td.hascomments .comments.pinned {
  display: block;
}


#paper table.experiments td.hascomments .comments > header {
  margin-bottom: .5em;
}

#paper table.experiments .comments .comment {
  display: block;
  border-top: 1px solid black;
  margin: .5em 0;
  padding: .5em 0 0 0;
}

#paper table.experiments .comments .comment header {
  font-size: 90%;
  line-height: 120%;
  margin-bottom: .5em;
}

#paper table.experiments .comments .comment .text {
  display: block;
}

#paper table.experiments .comments .comment .ctime {
  white-space: nowrap;
}

body:not(.page-about-you) #paper table.experiments td:last-child,
body:not(.editing) #paper table.experiments td:last-child {
  border-right: none;
}

#paper table.experiments tr:nth-child(2n) {
  background-color: #eee;
}

body:not(.page-about-you) #paper table.experiments tr.add,
body:not(.page-about-you) #paper table.experiments th.add,
body:not(.editing) #paper table.experiments tr.add,
body:not(.editing) #paper table.experiments th.add,
body.page-about-you.editing #paper table.experiments.editing th.add {
  display: none;
}

#paper table.experiments th.add > div > span {
  padding-left: .5em;
}

/* editing on experiments table means it's empty */
#paper table.experiments:not(.editing) tr.add .no-data {
  display: none;
}

#paper table.experiments.editing tr.add .no-data {
  position: absolute;
  border: none;
}

/* validation
 *
 *
 *           #    #   ##   #      # #####    ##   ##### #  ####  #    #
 *           #    #  #  #  #      # #    #  #  #    #   # #    # ##   #
 *           #    # #    # #      # #    # #    #   #   # #    # # #  #
 *           #    # ###### #      # #    # ######   #   # #    # #  # #
 *            #  #  #    # #      # #    # #    #   #   # #    # #   ##
 *             ##   #    # ###### # #####  #    #   #   #  ####  #    #
 *
 *
 */
[contenteditable].validationerror {
  box-shadow: 0 0 3px 3px rgba(255,0,0,.5);
  position: relative;
}

[contenteditable].validationerror[data-validationmessage]:after {
  display: block;
  position: absolute;
  left: 100%;
  bottom: 0;
  font-size: 80%;
  white-space: nowrap;
  padding-left: 1em;
  color: #a00;
  content: attr(data-validationmessage);
}

/* todo
 *
 *
 *                #####  ####  #####   ####
 *                  #   #    # #    # #    #
 *                  #   #    # #    # #    #
 *                  #   #    # #    # #    #
 *                  #   #    # #    # #    #
 *                  #    ####  #####   ####
 *
 *
 */

body > h1 {
  margin-bottom: 2em;
}

/* move to flex layouts? */
