body {
  font-family: "Arial", sans-serif;
  background: white;
  color: black;
  line-height: 125%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 40em;
}

/* show/hide things depending on
 * - whether anyone is logged in
 * - who the page is about
 * - whether editing is enabled
 * - who is logged in and who the thing belongs to
 */
body.signed-on .when-signed-out,
body:not(.signed-on) .when-signed-on,
body:not(.page-about-you) .only-if-page-about-you,
body.page-about-you .only-if-page-not-about-you,
body:not(.editing) .editing,
body:not(.page-about-you) .editing,
body.editing.page-about-you .notediting,
.only-if-yours:not(.yours),
.only-not-yours.yours,
body.editing.page-about-you .notediting-or-not-yours.yours,
_ {
  display: none !important;
}

.loadingspinner { display: none; }

.loading .loadingspinner { display: block; }

/* from https://codepen.io/flesler/pen/AEIFc */
[contenteditable]:empty:before {
  content: attr(placeholder);
  color: #aaa;
  font-style: italic;
  display: inline-block;
}

[contenteditable] {
  white-space: pre-line; /* to use \n instead of <br> as newlines */
  min-width: 1em;
}

[contenteditable]:hover:not(.validationerror) {
  box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
}

[contenteditable]:focus.validationerror {
  outline: initial;
}

body > * {
  margin: .5rem;
}

body > header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
}

body > header h1 {
  margin-bottom: 1em;
  line-height: 1.1em;
  margin-left: .5em;
}

body > footer {
  font-size: 85%;
  line-height: 120%;
  height: 5rem;
  background-color: #ddf;
  box-sizing: border-box;
  padding: 1em;
  margin: 0;
  margin-top: auto;
}

body > footer > p {
  margin: 0;
  padding: 0;
}

.limaversion .value {
  font-family: monospace;
}

/* popupbox
 *
 *
 *     #####   ####  #####  #    # #####  #####   ####  #    #
 *     #    # #    # #    # #    # #    # #    # #    #  #  #
 *     #    # #    # #    # #    # #    # #####  #    #   ##
 *     #####  #    # #####  #    # #####  #    # #    #   ##
 *     #      #    # #      #    # #      #    # #    #  #  #
 *     #       ####  #       ####  #      #####   ####  #    #
 *
 *
 */

.popupbox {
  display: none;
  position: fixed;
  top: 72px;
  top: 10em; /* todo better positioning, this is here to put it under the paper title */
  bottom: 0;
  right: 0;
  width: 15em;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-radius: .5em 0 0 0;
  padding: .3em .5em .1em .5em;
  background-color: white;
  text-align: left;
  overflow: auto;
  z-index: 10;
}

.popupbox > header,
.popupbox > footer {
  margin-bottom: .5em;
}

.popupbox > header {
  font-weight: bold;
  margin-right: 1.5em;
}

.popupbox > footer {
  font-size: 80%;
  line-height: 120%;
  margin-top: .5em;
  border-top: 1px solid #888;
  padding-top: .3em;
  margin-bottom: 0;
  padding-bottom: 0;
}


body:not(.boxpinned) .popupboxtrigger:hover .popupbox {
  display: block;
}

/* highlight the field whose popupbox is showing */
body:not(.boxpinned) .popupboxtrigger:hover .popupboxhighlight,
body:not(.boxpinned) .popupboxtrigger.popupboxhighlight:hover,
.popupboxtrigger.pinned .popupboxhighlight,
.popupboxtrigger.pinned.popupboxhighlight {
  background: rgba(128,0,255,.1);
}


.popupbox.pinned {
  box-shadow: 0 0 .3em .3em rgba(128,0,255,.2);
  display: block;
}

.popupbox .pin {
  display: block;
  font-size: 150%;
  font-weight: bold;
  color: #888;
  position: absolute;
  top: 0;
  right: 0;
  margin: .1em;
  padding: 0;
  text-align: center;
  min-width: 1em;
  line-height: 100%;
  border-radius: .2em;
}

.popupbox .pin:after {
  content: '▿';
  display: block;
  height: 100%;
  width: 100%;
}

.popupbox.pinned .pin:after {
  content: '×';
}

.popupbox .pin:hover {
  background: #888;
  color: white;
}



/* userinfo
 *
 *
 *     #    #  ####  ###### #####  # #    # ######  ####
 *     #    # #      #      #    # # ##   # #      #    #
 *     #    #  ####  #####  #    # # # #  # #####  #    #
 *     #    #      # #      #####  # #  # # #      #    #
 *     #    # #    # #      #   #  # #   ## #      #    #
 *      ####   ####  ###### #    # # #    # #       ####
 *
 *
 */

.userinfo {
  transition: border 1s;
  min-width: 50px;
  min-height: 50px;
  z-index: 100;
  background-color: white;
  margin: 0;
}

.userinfo .userphoto {
  max-height: 48px;
  max-width: 48px;
  margin: 12px;
  margin-bottom: -1px; /* to merge the border with the list of actions */
  border-radius: 12px;
  padding: 2px;
  display: block;
  border: 1px solid rgba(0,0,0,0);
  transition: .3s;
}

.userinfo .actions {
  visibility: hidden;
  padding: 0 .5em;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 12px;
  background: white;
  position: absolute;
  right: .5em;
  transition: .3s;
}

.userinfo .actions > * {
  margin: .5em 0;
  display: block;
  width: 100%;
  box-shadow: 0 0 0 0 rgba(66,133,244,.3);
  text-align: center;
}

.userinfo .actions > a,
.userinfo .username {
  text-decoration: none;
  color: black;
  line-height: 200%;
}

.userinfo .actions > a {
  cursor: pointer;
}

.userinfo .actions > a:hover {
  box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
}

.userinfo:hover .actions {
  visibility: visible;
}

.userinfo:hover .userphoto {
  border: 1px solid rgba(0,0,0,.5);
}




/* personalinfo
 *
 *
 *   #####  ###### #####   ####   ####  #    #   ##   #      # #    # ######  ####
 *   #    # #      #    # #      #    # ##   #  #  #  #      # ##   # #      #    #
 *   #    # #####  #    #  ####  #    # # #  # #    # #      # # #  # #####  #    #
 *   #####  #      #####       # #    # #  # # ###### #      # #  # # #      #    #
 *   #      #      #   #  #    # #    # #   ## #    # #      # #   ## #      #    #
 *   #      ###### #    #  ####   ####  #    # #    # ###### # #    # #       ####
 *
 *
 */

section#personalinfo {
  width: 30em;
  text-align: center;
}

#personalinfo .photo {
  border-radius: .5em;
  border: 1px solid white;
  box-shadow: 0 0 3px 3px rgba(0,0,0,.3);
}

#personalinfo.loading .email,
#personalinfo.loading .joined {
  display: none;
}




/* lists
 *
 *
 *         #      #  ####  #####  ####
 *         #      # #        #   #
 *         #      #  ####    #    ####
 *         #      #      #   #        #
 *         #      # #    #   #   #    #
 *         ###### #  ####    #    ####
 *
 *
 */
section.list {
  display: block;
  border: 1px solid black;
  margin-bottom: 1em;
  position: relative;
  width: 30em;
  z-index: 0;
}

section.list > header {
  display: block;
  margin: 0;
  padding: 0 0 0 .5em;
  border-bottom: 1px solid black;
  height: 2em;
  background: #eee;
}

section.list > header h2 {
  font-size: 1.5em;
  line-height: 130%;
  margin: 0;
}

section.list > header .filter {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: .2em;
  border: 1px solid black;
  margin: .1em;
  background: white;
  text-align: right;
  z-index: 1;
}

section.list > header .filter .options {
  display: none;
  text-align: left;
  margin: .5em;
  padding: 0;
}

section.list > header .filter .options + .options {
  border-top: 1px solid #eee;
}


section.list > header .filter:hover .options {
  display: block;
}

section.list > header .filter .options li {
  display: block;
  padding: 0;
  margin: .5em 0;
}

section.list footer {
  display: block;
  margin: 0;
  padding: 0 0 0 .5em;
  border-top: 1px solid black;
  height: 2em;
  background: #eee;
}

section.list footer .add {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0;
  border: 1px solid black;
  background: white;
  text-align: center;
  width: 1em;
  font-size: 1.65em;
  line-height: 100%;
  margin: .0606em;
  cursor: default;
}

section.list > ul {
  margin: 0;
  padding: .25em;
  display: block;
}

section.list > ul > li {
  margin: 0;
  padding: .25em;
  display: block;
  border-bottom: 1px solid #eee;
  position: relative;
}

section.list > ul > li:hover:not(.empty):not(.loading) {
  background: #ddf;
}

section.list > ul > li.empty {
  font-style: italic;
}

section.list > ul > li:last-of-type {
  border-bottom: 0;
}

section.list > ul > li .name {
  display: inline-block;
}

section.list > ul > li .mainlink {
  text-decoration: none;
  color: inherit;
}

section.list > ul > li > .date {
  display: inline-block;
  margin-left: 2em;
  float: right;
}

section.list > ul > li .reference {
  font-size: .8em;
  margin-left: 4em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

section.list > ul > li > header {
  display: flex;
  justify-content: space-between;
}

section.list > ul > li > .description {
  font-size: .8em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

section.list > ul > li > ul.tags {
  display: block;
  margin: 0;
  padding: 0;
}

section.list > ul > li > ul.tags > li {
  font-size: .7em;
  display: inline-block;
  margin: .2em;
  padding: .4em;
  line-height: 100%;
  border: 1px solid #008;
  border-radius: .4em;
  background: #33c;
  color: white;
}


/* papers
 *
 *
 *         #####    ##   #####  ###### #####   ####
 *         #    #  #  #  #    # #      #    # #
 *         #    # #    # #    # #####  #    #  ####
 *         #####  ###### #####  #      #####       #
 *         #      #    # #      #      #   #  #    #
 *         #      #    # #      ###### #    #  ####
 *
 *
 */

#paper {
  min-width: 40em;
}

/* make space for the boxes on the right-hand side of the page */
#paper > :not(header) {
  margin: .3em 16em 0 0;
}

#paper .description .value {
  white-space: pre-line;
  display: inline-block;
  vertical-align: top;
  max-width: 30em;
}

#paper > header {
  background: #ddf;
  margin: 0;
  padding: .5em;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#paper > header h1 {
  line-height: 100%;
  margin: 0;
  padding: 0;
  flex: 0 0 auto;
}

#paper > header .title.editing.unsaved:not(.validationerror):not(:focus),
#paper .exptitle.editing.unsaved:not(.validationerror):not(:focus),
#paper .coltitle.editing.unsaved:not(.validationerror):not(:focus),
#paper .linkedit .value.editing.unsaved:not(.validationerror):not(:focus) {
  box-shadow: 0 0 3px 3px rgba(255,0,0,.5);
}

#paper > header button.titlerename,
#paper button.coltitlerename,
#paper button.exptitlerename {
  margin-right: auto;
  opacity: 0;
  transition: opacity .2s .2s;
  margin-left: 1em;
  position: relative;
}

#paper button.coltitlerename {
  display: none;
}

#paper .fullcolinfo header {
  padding-top: 1em;
  position: relative;
}

body.page-about-you.editing .fullcolinfo header {
  margin-right: 0;
}

#paper .fullcolinfo header p {
  display: inline;
}

#paper .titlerenamewarning {
  position: absolute;
  left: 2em;
  right: 2em;
  top: 150%;
  background: white;
  border: 1px solid black;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em 3em;
  z-index: 20;
  box-shadow: 0 0 .3em .3em rgba(128,0,255,.2);

  visibility: hidden;
}

#paper .colrenamewarning {
  position: absolute;
  left: 1em;
  right: 1em;
  top: 100%;
  margin-top: 1em;
  background: white;
  border: 1px solid black;
  border-radius: .4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em 1em;
  z-index: 20;
  box-shadow: 0 0 .3em .3em rgba(128,0,255,.2);
  font-weight: normal;
  font-size: 80%;

  visibility: hidden;
}

#paper .titlerenamewarning h1,
#paper .colrenamewarning h1 {
  margin-bottom: 1em;
}

#paper .colrenamewarning h1 {
  font-size: 1.2em;
  font-weight: normal;
}

#paper > header .title.editing.unsaved ~ .titlerenamewarning,
#paper .coltitle.editing.unsaved ~ .colrenamewarning {
  transition: visibility 0s 1s;
}

#paper > header .title.editing.unsaved:focus ~ .titlerenamewarning,
#paper > header .title.editing.unsaved:hover ~ .titlerenamewarning,
#paper > header .title.editing.unsaved + .titlerename:hover ~ .titlerenamewarning,
#paper > header .title.editing.unsaved + .titlerename:focus ~ .titlerenamewarning,
#paper > header .title.editing.unsaved ~ .titlerenamewarning:hover,
#paper .coltitle.editing.unsaved:focus ~ .colrenamewarning,
#paper .coltitle.editing.unsaved:hover ~ .colrenamewarning,
#paper .coltitle.editing.unsaved + .coltitlerename:hover ~ .colrenamewarning,
#paper .coltitle.editing.unsaved + .coltitlerename:focus ~ .colrenamewarning,
#paper .coltitle.editing.unsaved ~ .colrenamewarning:hover {
  visibility: visible;
  transition: visibility 0s;
}

#paper > header .title.editing.unsaved:not(.validationerror):not(:focus) + button.titlerename:not(:focus):before,
#paper .coltitle.editing.unsaved:not(.validationerror):not(:focus) + button.coltitlerename:not(:focus):before,
#paper .exptitle.editing.unsaved:not(.validationerror):not(:focus) + button.exptitlerename:not(:focus):before {
  content: 'click \'rename\' to confirm';
  display: block;
  position: absolute;
  top: -2em;
  right: 0;
  left: auto;
  font-size: .6rem;
  font-weight: normal;
  color: #a00;
  background: white;
}

#paper .linkedit button.confirm {
  position: relative;
}

#paper .linkedit span.editing.unsaved:not(.validationerror):not(:focus) ~ button.confirm:not(:focus):before {
  content: 'click \'confirm\' to save';
  display: block;
  position: absolute;
  top: -1.2em;
  left: 0;
  right: auto;
  font-size: .6rem;
  font-weight: normal;
  color: #a00;
  background: white;
}

#paper .coltitle.editing.unsaved:not(.validationerror):not(:focus) + button.coltitlerename:not(:focus):before,
#paper .exptitle.editing.unsaved:not(.validationerror):not(:focus) + button.exptitlerename:not(:focus):before {
  right: auto;
  left: 100%;
  top: auto;
  bottom: 0;
  margin-left: 1em;
}

#paper > header h1.title:hover + button.titlerename,
#paper > header h1.title:focus + button.titlerename,
#paper > header h1.title + button.titlerename:enabled,
#paper > header h1.title + button.titlerename:hover,
#paper .exptitle.editing:hover + button.exptitlerename,
#paper .exptitle.editing:focus + button.exptitlerename,
#paper .exptitle.editing + button.exptitlerename:enabled,
#paper .exptitle.editing + button.exptitlerename:hover {
  opacity: 1;
  transition: opacity 0s;
}

#paper .coltitle.editing:hover + button.coltitlerename,
#paper .coltitle.editing:focus + button.coltitlerename,
#paper .coltitle.editing + button.coltitlerename:enabled,
#paper .coltitle.editing + button.coltitlerename:hover {
  opacity: 1;
  display: inline-block;
}

#paper > header ul.tags {
  display: inline-block;
  margin: 0 0 0 2em;
  padding: 0;
  vertical-align: bottom;
  flex: 0 1 auto;
  text-align: right;
}

#paper ul.tags > li {
  font-size: .7em;
  display: inline-block;
  margin: .2em;
  padding: 0;
  line-height: 100%;
  border: 1px solid #008;
  border-radius: .4em;
  background: #33c;
  transition: background .5s;
  color: white;
  overflow: hidden;
  vertical-align: bottom;
}

#paper ul.tags > li.flash {
  background: #ff0;
}

#paper ul.tags > li.new {
  background: white;
  color: black;
}

#paper ul.tags > li.new [contenteditable] {
  text-align: left;
}

#paper ul.tags > li.new [contenteditable]:focus {
  outline: initial;
  /* todo something in firefox puts the cursor too high */
}

#paper ul.tags > li.new:not(.editing) {
  display: none;
}

#paper ul.tags > li .tag {
  display: inline-block;
  margin: .4em;
}

#paper ul.tags > li .removetag {
  background-color: #226;
  color: white;
  display: inline-block;
  margin: 0;
  padding: .4em;
}

#paper ul.tags > li .removetag:hover {
  background-color: rgba(255,255,255,1);
  color: black;
}

#paper ul.tags > li.addtag {
  background: #3c3;
  transition: background 0s;
  color: white;
}

#paper ul.tags > li.new.editing + li.addtag {
  display: none;
}

#paper ul.tags .addtag:hover {
  background-color: rgba(255,255,255,1);
  color: black;
}

#paper > header .savepending,
#paper > header .saving {
  font-style: italic;
  color: #444;
  position: absolute;
  right: 0;
  bottom: 120%;
  display: none;
}

#paper > header .validationerrormessage {
  font-style: italic;
  color: #a00;
  position: absolute;
  right: 0;
  bottom: 120%;
  display: none;
}

#paper > header .savingerror {
  font-weight: bold;
  color: black;
  background: #f66;
  padding: .5em .8em;
  border-radius: .4em;
  position: absolute;
  right: 0;
  bottom: 120%;
  display: none;
}

#paper.saving > header .saving,
#paper.savepending:not(.saving) > header .savepending,
#paper.validationerror > header .validationerrormessage {
  display: block;
}


#paper.savingerror > header .savingerror { display: block; cursor: pointer; }

#paper .linkedit > a.value ~ button.editing {
  display: none;
  vertical-align: middle;
  margin-left: .3em;
}

#paper .linkedit > a.value ~ button.test,
#paper .linkedit > a.value ~ span.editing.unsaved ~ button.editing,
#paper .linkedit > a.value ~ span.editing:focus ~ button.test {
  display: inline-block;
}


/* experiment data
 *
 *
 *  ###### #    # #####  ###### #####  # #    # ###### #    # #####    #####    ##   #####   ##
 *  #       #  #  #    # #      #    # # ##  ## #      ##   #   #      #    #  #  #    #    #  #
 *  #####    ##   #    # #####  #    # # # ## # #####  # #  #   #      #    # #    #   #   #    #
 *  #        ##   #####  #      #####  # #    # #      #  # #   #      #    # ######   #   ######
 *  #       #  #  #      #      #   #  # #    # #      #   ##   #      #    # #    #   #   #    #
 *  ###### #    # #      ###### #    # # #    # ###### #    #   #      #####  #    #   #   #    #
 *
 *
 */

/* rotated headings inspired by https://css-tricks.com/rotated-table-column-headers/ */

#paper table.experiments {
  margin-top: 1em;
  text-align: center;
  margin-right: 8em;
  margin-top: 10em;
  border-spacing: 0;
  position: relative;
}

#paper table.experiments:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 1px;
  height: 1px;
  bottom: 0;
  right: -23.5em; /* 15em for width of popupbox and 8.5em for width of overhanging column labels */
}

#paper table.experiments + .no-table {
  display: none;
}

body:not(.page-about-you) #paper table.experiments.editing + .no-table,
body:not(.editing) #paper table.experiments.editing + .no-table {
  display: block;
  padding: .5em;
  border: 1px solid black;
}

#paper table.experiments th {
  font-weight: normal;
  vertical-align: top;
  padding: .3em .5em;
}

#paper table.experiments tr:first-child th {
  padding: 0;
  min-width: 2.5em;
  height: 1em;
  vertical-align: bottom;
  text-align: center;
  position: relative;
  border-right: 1px solid black;
}

#paper table.experiments tr th:first-child {
  border-right: 2px solid black;
  position: relative;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  left: 0;
  z-index: 1;
}

#paper table.experiments tr th:first-child:hover {
  z-index: 2;
}

#paper table.experiments tr th:first-child {
  background: white;
}

#paper table.experiments tr th:first-child .expdescription.short {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 8em;
  max-height: 1em;
}

#paper table.experiments .fullrowinfo .expdescription:not([contenteditable]):empty:before {
  content: 'No detailed description';
  color: #aaa;
  font-style: italic;
  display: inline-block;
}

/* nth-last-child(2) because there's the heading for adding */
#paper table.experiments tr:first-child th:last-child,
body:not(.page-about-you) #paper table.experiments tr:first-child th:nth-last-child(2),
body:not(.editing) #paper table.experiments tr:first-child th:nth-last-child(2) {
  border-right: none;
}

#paper table.experiments tr:first-child th > div:not(.popupbox) {
  transform: translate(-.5em,.8em) rotate(-45deg);
  transform-origin: top left;
  display: inline-block;
  position: absolute;
  bottom: 1em;
}

body.page-about-you.editing #paper table.experiments tr:first-child th:not(:last-child):after,
body:not(.page-about-you) #paper table.experiments tr:first-child th:not(:nth-last-child(-n+2)):after,
body:not(.editing) #paper table.experiments tr:first-child th:not(:nth-last-child(-n+2)):after {
  border-top: 1px solid black;
  display: block;
  content: ' ';
  position: absolute;
  right: 0;
  bottom: 1em;
  width: 12em;
  transform: rotate(135deg);
  transform-origin: bottom right;
}

/* thicker first column divider line */
#paper table.experiments tr:first-child th:first-child:after {
  border-top: 2px solid black !important;
}

/* give the first column white background so it hides stuff under it in case of position:sticky working */
#paper table.experiments tr:first-child th:first-child:before {
  border-top: 100em solid white;
  display: block;
  content: ' ';
  position: absolute;
  right: 0;
  bottom: 1em;
  width: 12.7em;
  transform: rotate(135deg)skew(45deg)translateY(100em);
  transform-origin: bottom right;
}

/* thicker line between characteristics and results columns */
#paper table.experiments tr:first-child th.characteristic + th.result,
#paper table.experiments tr td.characteristic + td.result {
  border-left: 2px solid black;
}
#paper table.experiments tr:first-child th.characteristic + th.result:before {
  border-bottom: 2px solid black;
  display: block;
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 1em;
  width: 12em;
  transform: translate(-.5px,1px) rotate(-45deg);
  transform-origin: bottom left;
}


#paper table.experiments tr:first-child th > div > span {
  width: 12em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  text-align: left;
  font-weight: bold;
}

#paper table.experiments .fullcolinfo .coltype.result .type-characteristic,
#paper table.experiments .fullcolinfo .coltype.characteristic .type-result {
  display: none;
}

#paper table.experiments .fullcolinfo .value {
  white-space: nowrap;
}

#paper table.experiments td {
  padding: .3em .5em;
  vertical-align: top;
  border-right: 1px solid black;
  position: relative;
}

#paper table.experiments td span[contenteditable] {
  min-width: 1em;
  min-height: 1em;
  display: inline-block;
}

#paper table.experiments td.hascomments:after {
  display: block;
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  height: 0;
  width: 0;
  border-top: .5em solid #f50;
  border-left: .5em solid transparent;
}

#paper table.experiments .comments .value:empty:before {
  content: 'empty value';
  color: #aaa;
  font-style: italic;
  display: inline-block;
}

#paper table.experiments .comments .by {
  font-size: 90%;
  font-weight: normal;
}

#paper table.experiments .comments .comment {
  display: block;
  border-top: 1px solid black;
  margin: .5em 0;
  padding: .5em 0 0 0;
}

#paper table.experiments td:not(.hascomments) .comments .comment.new {
  border-top: none;
}

#paper table.experiments .comments .comment header {
  font-size: 90%;
  line-height: 120%;
  margin-bottom: .5em;
}

#paper table.experiments .comments .comment .text {
  display: block;
}

#paper table.experiments .comments .comment .ctime {
  white-space: nowrap;
}

body:not(.page-about-you) #paper table.experiments td:last-child,
body:not(.editing) #paper table.experiments td:last-child {
  border-right: none;
}

#paper table.experiments tr:nth-child(2n),
#paper table.experiments tr:nth-child(2n) th:first-child {
  background-color: #eee;
}

/* fix highlighting of the row headings which have their own background */
body:not(.boxpinned) #paper table.experiments tr th:first-child.popupboxtrigger:hover .popupboxhighlight,
body:not(.boxpinned) #paper table.experiments tr th:first-child.popupboxtrigger.popupboxhighlight:hover,
#paper table.experiments tr th:first-child.popupboxtrigger.pinned .popupboxhighlight,
#paper table.experiments tr th:first-child.popupboxtrigger.pinned.popupboxhighlight {
  background: rgba(243,230,255,1);
}
body:not(.boxpinned) #paper table.experiments tr:nth-child(2n) th:first-child.popupboxtrigger:hover .popupboxhighlight,
body:not(.boxpinned) #paper table.experiments tr:nth-child(2n) th:first-child.popupboxtrigger.popupboxhighlight:hover,
#paper table.experiments tr:nth-child(2n) th:first-child.popupboxtrigger.pinned .popupboxhighlight,
#paper table.experiments tr:nth-child(2n) th:first-child.popupboxtrigger.pinned.popupboxhighlight {
  background: rgba(228,215,240,1);
}


body:not(.page-about-you) #paper table.experiments tr.add,
body:not(.page-about-you) #paper table.experiments th.add,
body:not(.editing) #paper table.experiments tr.add,
body:not(.editing) #paper table.experiments th.add,
body.page-about-you.editing #paper table.experiments.editing th.add {
  display: none;
}

#paper table.experiments th.add > div > span {
  padding-left: .5em;
}

#paper table.experiments .add button {
  margin: .3em 0;
}

/* editing on experiments table means it's empty */
#paper table.experiments:not(.editing) tr.add .no-data {
  display: none;
}

#paper table.experiments.editing tr.add .no-data {
  position: absolute;
  border: none;
}

/* validation
 *
 *
 *           #    #   ##   #      # #####    ##   ##### #  ####  #    #
 *           #    #  #  #  #      # #    #  #  #    #   # #    # ##   #
 *           #    # #    # #      # #    # #    #   #   # #    # # #  #
 *           #    # ###### #      # #    # ######   #   # #    # #  # #
 *            #  #  #    # #      # #    # #    #   #   # #    # #   ##
 *             ##   #    # ###### # #####  #    #   #   #  ####  #    #
 *
 *
 */
[contenteditable].validationerror {
  box-shadow: 0 0 3px 3px rgba(255,0,0,.5);
  position: relative;
}

[contenteditable].validationerror[data-validationmessage]:after {
  font-size: .8rem;
  font-weight: normal;
  display: block;
  position: absolute;
  left: 100%;
  bottom: 0;
  white-space: nowrap;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: .5em;
  color: #a00;
  background: rgba(255,255,255,.9);
  content: attr(data-validationmessage);
  z-index: 20;
}
