/* Style the tab */
.navbar {
  z-index: 10;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  position:sticky;
  top:0;
  display: inline-block;
}

/* Style the buttons that are used to open the tab content */
.navbar button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.navbar button:hover {
  background-color: #ddd;
}


/* Create an active/current tablink class */
.navbar button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

#infoTab{
  display: block;
}
