.datatable {
  margin: 0.5rem;
  border-collapse: collapse;
  border-spacing: 0;
}

.datatable td,
.datatable th {
  border: 0.5px solid rgb(66, 66, 66);
}

.datatable th {
  text-align: left;
  background-color: #47a8c5;
  color: white;
}

.datatable .paperstart td {
  border-top: 2px solid black;
}
