
.metaanalysis .titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(182, 234, 255);
  padding: 0 20px;
  margin-bottom: 0;
  margin-top: 10px;
}

.metaanalysis .titlebar .title {
  font-size: 1.5em;
}

.metaanalysis .btn-start {
  background-color: green;
}

.metaanalysis .btn-stop {
  background-color: red;
}
