.datatable {
  text-align: center;
  border: 0.2em solid black;
}

.datatable .paperstart td {
  border-top: 2px solid black;
}

.datatable .computed {
  background-color: rgba(182, 234, 255, 0.5);
  text-align: right;
}

.datatable .computed.editMode.cell {
  background-color: #FFEFD5;
}
