.details {
  margin: auto 0 0;
  padding: 0;
  position: sticky;
  bottom: 0;
  height: 25%;
  background: white;
  overflow: auto;
  border: 0.2em solid black;
}

.details .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2f7494;
  color: white;
  padding: 0;
  margin: 0;
  border-bottom: 0.2em solid black;
}

.details .close {
  padding: 20px;
}

.details h3,
.details p {
  margin: 0.2em;
}

.details .header .close {
  cursor: pointer;
  font-size: 150%;
}

.details .header .close:hover {
  background-color: red;
}

.details .content {
  margin-left: 0.5em;
}

.details:empty {
  display: none;
}

.details table tbody {
  border: 0.2em solid black;
}

.details table td {
  border-top: 0.2em solid black !important;
  border-bottom: 0.2em solid black !important;
  border-left: none !important;
}

.details table td:hover {
  background-color: inherit !important;
}

.details tr:nth-child(even) {
  background-color: inherit !important;
}
