.metaanalysis {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.metaanalysis .titlebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(182, 234, 255);
  padding: 0 20px;
  margin-bottom: 0;
  margin-top: 10px;
  overflow: hidden;
  position: relative;
}

.metaanalysis .titlebar .title {
  font-size: 1.5em;
}

.metaanalysis .titlebar .titleBarButtons {
  position: sticky;
  display: flex;
  align-items: center;
  width: 10%;
  height: 50%;
}

.metaanalysis .btn-start {
  background-color: green;
}

.metaanalysis .btn-stop {
  background-color: red;
}

.metaanalysis table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin: 20px;
}

.metaanalysis .columnHeadings th{
  border: 4px solid black;
  color: black;
  text-align: center;
}

.metaanalysis .columnHeadings .paperColumnHeader {
  background-color: rgba(255,255,0,0.5);
}

.metaanalysis .columnHeadings .moderatorColumnHeader {
  background-color: rgba(255,0,0, 0.5);
}

.metaanalysis .columnHeadings .calculatorColumnHeader {
  background-color: rgba(0,255,0, 0.5);
}

.metaanalysis .dataColumn {
  background-color: rgba(182, 234, 255, 0.5);
}
.metaanalysis .columnHeadings .dataColumnHeader {
  background-color: #add8e6 !important;
}

.metaanalysis table td,
.metaanalysis table th {
  border-left: 0.5px solid rgb(66, 66, 66);
  border-right: 0.5px;
  padding: 4px;
}

.metaanalysis table tr:nth-child(even) {
  background-color: #ebebeb;
}


.metaanalysis table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2f7494;
  color: white;
}

.metaanalysis table .active {
  background-color: pink !important;
  box-shadow: 0 0 0 0.1em black inset;
}

.metaanalysis table td:hover {
  background-color: lightpink;
}

.metaanalysis table .paper {
  position: relative;
}

.metaanalysis table .column {
  position: relative;
  height: 70px;
  text-align: center;
}

.metaanalysis table .cornerstone {
  border-top: 0.2em solid black;
}

.metaanalysis .grabberButton {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  display: block;
  width: 2em;
  height: 2em;
}

.metaanalysis .grabberIcon {
  width: 2em;
  height: 2em;
  position: absolute;
  top: 0;
  left: 0;
}

.metaanalysis .beingRearranged {
  background-color: #FFC0CB !important;
  color: #000000 !important;
  border-width: 1em;
}

.metaanalysis .rowRearrangeBelow {
  box-shadow: 0 -0.4em 0.2em -0.2em #000000 inset;
}

.metaanalysis .rowRearrangeAbove {
  box-shadow: 0 0.4em 0.2em -0.2em #000000 inset;
}

#toggle-editing,
#toggle-editing:focus,
#toggle-editing-inactive,
#toggle-editing-inactive:focus {
  border: 0.2em solid black;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #FFC0CB;
  outline: none;
  cursor: pointer;
  /* Prevent text highlight */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#toggle-editing:hover {
  background-color: #FF69B4;
}

#toggle-editing.editMode {
  background-color: rgba(182, 234, 255);
}

#toggle-editing.editMode:hover {
  background-color: rgb(47, 116, 148);
}

#toggle-editing-inactive {
  background-color: lightgrey;
  cursor: default;
}

.editMode.primary {
  background-color: #FFC0CB !important;
  color: #000000 !important;
}

.metaanalysis .editMode.secondary {
  background-color: #808080 !important;
}

.metaanalysis .editMode li:hover {
  background-color: #FFC0CB !important;
}

.metaanalysis .popupBackground {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.metaanalysis .popupContainer {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 15%;
  top: 15%;
  width: 60%; /* Full width */
  height: 60%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #FFFFFF;
  border: 5px solid black;
}

.metaanalysis .popupContentWrapper {
  padding: 20px;
}

.metaanalysis .popupClose,
.metaanalysis .popupClose:focus {
  float: right;
  background-color: red;
  border-left: 5px solid black;
  border-bottom: 5px solid black;
  width: 30px;
  height: 30px;
  line-height: 60%;
  cursor: pointer;
  text-align: center;
  font-size: 3em;
  outline: none;
}

.metaanalysis .popupClose:hover {
  background-color: #8B0000;
}

.submitButton {
  border: 0.2em solid black;
  width: 10em;
  height: 2em;
  text-align: center;
  background-color: #32CD32;
  outline: none;
  cursor: pointer;
  /* Prevent text highlight */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.submitButton:hover {
  background-color: #228B22;
}

.metaanalysis .addPaperForm label,
.metaanalysis .addColumnForm label,
.metaanalysis .addExperimentForm label {
  display: block;
  width: 100%;
  margin: 10px;
}

.metaanalysis .addPaperForm label input,
.metaanalysis .addPaperForm label input:focus,
.metaanalysis .addExperimentForm label input,
.metaanalysis .addExperimentForm label input:focus,
.metaanalysis .addColumnForm label input,
.metaanalysis .addColumnForm label input:focus {
  border: 0.1em solid black;
  outline: none;
  width: 60%;
  text-align: left;
  float: right;
}

.metaanalysis .addExperimentButton {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
  font-size: 30px;
	cursor: pointer;
	outline: inherit;
  position: absolute;
  top: 0;
  right: 0;
}

.metaanalysis #addPaperButtonContainer,
.metaanalysis #addColumnButtonContainer {
  text-align: center;
  vertical-align: middle;
}

.metaanalysis #addPaperButton,
.metaanalysis #addPaperButton:focus,
.metaanalysis #addColumnButton,
.metaanalysis #addColumnButton:focus {
  margin: 0.1em;
  border: 3px solid black;
  background-color: white;
  cursor: pointer;
  outline: none;
}

.metaanalysis #addPaperButton:hover,
.metaanalysis #addColumnButton:hover {
  background-color: #ebebeb;
}

.colRearrangeRight {
  box-shadow: -0.4em 0 0.2em -0.2em #000000 inset;
}

.colRearrangeLeft {
  box-shadow: 0.4em 0 0.2em -0.2em #000000 inset;
}

textarea {
  background: transparent;
  outline: none;
}

.removalPopup {
  text-align: center;
  position: relative;
}

.removalPopupCancel,
.removalPopupYes {
  border: 0.2em solid black;
  width: 10em;
  height: 2em;
  text-align: center;
  background-color: #32CD32;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
  /* Prevent text highlight */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.removalPopupCancel {
  background-color: green;
  width: 15em;
  height: 3em;
}

.removalPopupCancel:hover {
  background-color: darkgreen;
}

.removalPopupYes {
  background-color: red;
  margin-top: 1em;
}

.removalPopupYes:hover {
  background-color: darkred;
}

.removeColumnButton,
.removePaperButton,
.removeExperimentButton,
.hideShowButton {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  font-size: 10px;
  display: block;
  border: 0.2em solid black;
  text-align: center;
  background-color: #ff5745;
  outline: none;
  cursor: pointer;
  /* Prevent text highlight */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.removeColumnButton:hover,
.removePaperButton:hover,
.removeExperimentButton:hover {
  background-color: red;
}

.removeExperimentButton,
.removePaperButton,
.removeColumnButton,
.hideShowButton {
  position: relative;
  margin: 4px auto;
}

.hideShowButton {
  display: block;
  background-color: rgba(182, 234, 255, 0.5);
}

.hideShowButton:hover {
  background-color: #FF69B4;
}

.columnButtonContainer {
  text-align: center;
}
