name: App Engine Deploy
on:
  push:
    branches:
      - production
jobs:
  deploy:
    name: AppEngineDeploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Deploy
        id: deploy
        uses: GoogleCloudPlatform/github-actions/appengine-deploy@master
        with:
          credentials: ${{ secrets.GCP_SA_KEY }}
          deliverables: app-production.yaml
      - name: Return URL
        id: deploy-complete
        run: echo "${{ steps.deploy.outputs.url }}"
